<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xplor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
				<key>dateExpires</key>
				<string>23/03/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_webview_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>permission.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sms_autofill.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F451E8F8A8422A1A9142AC601269909414F687F3</string>
						<key>dateExpires</key>
						<string>23/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F7NWBAJ3T2</string>
						<key>name</key>
						<string>Xplor Micromobility LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F7NWBAJ3T2.com.micromobility.xplor</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>F7NWBAJ3T2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4534826b-34af-4026-9951-988527e0095c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.micromobility.xplor</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F7NWBAJ3T2</string>
				<key>name</key>
				<string>Xplor Micromobility LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
